body{
    background-color: #1E1F28;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}
div{
    border: solid white 2px;
    border-radius: 20px;
    padding: 50px;
    width: fit-content;
}
.infoc{
    font-size: 60px;
    display:flex;
}